#*
 * Copyright 2001-2008 (C) The original author or authors.
 * Copyright 2008-2016 (C) The Codehaus (http://codehaus.org/)
 * Copyright (C) 2016-2025 Philip Helger (www.helger.com)
 * philip[at]helger[dot]com
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
 ------
 JJDoc Examples
 ------
 Paul Gier <pgier at redhat.com>
 ------
 January 04 2008
 ------

JJDoc Examples

  The following example can be used to create a JJDoc site report.  For a list of configuration
  parameters, consult the <<<{{{../jjdoc-mojo.html}jjdoc}}>>> goal documentation.  The <<<jjdoc>>> goal does 
  not need to be specified since it will automatically be used during site generation.

-------------------
<project>
  ...
  <reporting>
    <plugins>
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>javacc-maven-plugin</artifactId>
        <version>${project.version}</version>
      </plugin>
      ...
    </plugins>
  </reporting>
  ...
</project>
-------------------

  To generate the BNF documentation, simply execute the site lifecycle phase:

+-----+
mvn site
+-----+
